<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Trackzilla Menu</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" id="navbarAppMenuLink">
                    Applications
                </a>
                <div aria-labelledby="navbarAppMenuLink" class="dropdown-menu">
                    <a class="dropdown-item" href="/applications">View</a>
                    <a class="dropdown-item" href="/applications/new">Create</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" id="navbarTcktMenuLink">
                    Tickets
                </a>
                <div aria-labelledby="navbarTcktMenuLink" class="dropdown-menu">
                    <a class="dropdown-item" href="/tickets">View</a>
                    <a class="dropdown-item" href="/tickets/new">Create</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" id="navbarRelMenuLink">
                    Releases
                </a>
                <div aria-labelledby="navbarRelMenuLink" class="dropdown-menu">
                    <a class="dropdown-item" href="/releases">View</a>
                    <a class="dropdown-item" href="/releases/new">Create</a>
                </div>
            </li>


        </ul>
        <!--        <form class="form-inline my-2 my-lg-0">-->
        <!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--        </form>-->
    </div>
</nav>